services:

  postgres:
    image: cytomine/postgis:1.4.0-dev.2
    volumes:
      - postgres_data:/var/lib/postgresql/data
    profiles:
      - db
      - default
      - full
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: docker
      POSTGRES_DB: docker
      APPENGINE_DB: appengine
      APPENGINE_PASSWORD: password
      APPENGINE_USER: appengine
    ports:
      - 5432:5432
    networks:
      - appengine_network


  registry:
    image: registry:latest
    ports:
      - 5000:5000
    profiles:
      - registry
      - default
      - full
    depends_on:
      - postgres
    environment:
      REGISTRY_STORAGE_DELETE_ENABLED: true
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
    volumes:
      - registry_data:/data
    networks:
      - appengine_network

  app-engine:
    image: appengine:1.0.1
    ports:
      - 8080:8080
    profiles:
      - full
      - appengine
    volumes:
      - <path/in/host>:/data
    environment:
      RUN_STORAGE_BASE_PATH: <path/in/host>
      REGISTRY_HTTP_SCHEME: http
      REGISTRY_URL: registry
      REGISTRY_HOST: registry
      REGISTRY_PORT: 5000
      REGISTRY_SCHEME: http
      DB_HOST: postgres
      SCHEDULER_MASTER_URL: <https://scheduler:16443>
      SCHEDULER_OAUTH_TOKEN: <scheduler token>
    networks:
      - appengine_network

volumes:
  postgres_data:
  registry_data:
  appengine_data:

networks:
  appengine_network:
    driver: bridge
