{
  "VERSIONS_CYTOMINE_COMMERCIAL": "${VERSIONS_CYTOMINE_COMMERCIAL}",
  "services": {
      "CORE": "${IMAGES_CORE}",
      "MONGO": "${IMAGES_MONGO}",
      "NGINX": "${IMAGES_NGINX}",
      "PIMS_CACHE": "${IMAGES_PIMS_CACHE}",
      "PIMS": "${IMAGES_PIMS}",
      "POSTGIS": "${IMAGES_POSTGIS}",
      "PROXY": "${IMAGES_PROXY}",
      "WEB_UI": "${IMAGES_WEB_UI}"
  }
}
